

#header {
    background-color: lightgrey;
    height: 100px;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;

}

#nav {
    background-color: lightgrey;
    height: 100px;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
}

#section {
    background-color: lightgrey;
    height: 100px;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
    
}

#article {
    background-color: lightgrey;
    height: 300px;
    padding: 20px;
    margin-bottom: 20px;
    width:45%;
    text-align: center;
}

#aside {
    
    background-color: lightgrey;
    height: 300px;
    padding: 20px;
    margin-bottom: 20px;
    float: right;
    width:45%;
    text-align: center;
}

#footer{
    clear: both;
    background-color: lightgrey;
    height: 100px;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
}